body .container {
  margin-top: 10px;
}

.bold {
  font-weight: bold;
}

#loginForm div.alert-danger {
	margin-top: 10px;
	margin-bottom: 0px;
}

@media screen and (max-width: 767px) {
  #login-overlay .modal-body .list-unstyled {
    margin-left: 30%;
  }
}

@media screen and (max-width: 480px) {
  #login-overlay .modal-body .list-unstyled {
    margin-left: 20%;
  }
}

@media screen and (max-width: 320px) {
  #login-overlay .modal-body .list-unstyled {
    margin-left: 10%;
  }
}

#search-container, #compose-container {
  margin-top: 10px;
}

#search-container nav ul.nav li a {
  font-size: 12px;
}

#logo {
  color: #666;
  width:100%;
}

#logo h1 {
  font-size: 60px;
  text-shadow: 1px 2px 3px #999;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
}

#logo p{
  padding-bottom: 20px;
  opacity: 0.5;
}

#search-form {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}

#search-form >.form-group >.input-group > .form-control {
  height: 40px;
}

#search-form >.form-group >.input-group > .input-group-btn > .btn{
  height: 40px;
  font-size: 16px;
  font-weight: 300;
}

#search-form >.form-group >.input-group > .input-group-btn > .btn .glyphicon{
  margin-right:12px;
}

#search-form >.form-group >.input-group > .form-control {
  font-size: 16px;
  font-weight: 300;
}

#search-form >.form-group >.input-group > .form-control:focus {
  border-color: #33A444;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 1px rgba(0, 109, 0, 0.8);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 1px rgba(0, 109, 0, 0.8);
}

#search-form .form-group img.async-loading {
    position: absolute;
    z-index: 9000;
    margin: 8px 0 0 -32px;
}

/* Necesario porque el typeahead desbarata formularios */

.twitter-typeahead {
  float: left;
  width: 100%;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 100%;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.form-group .input-group .twitter-typeahead input.form-control {
  height: 40px;
}

.card-img-top {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin: 10px;
}

.selected-profs {
	min-width: 480px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.selected-profs .panel {
  	min-width: 250px;
	margin: 10px;
}

.selected-profs .panel-heading {
  background: none;
  background-image: none;
  background-color: transparent;
}

.compose-direct {
  top: 10px;
  right: 10px;
  float: right;
  position: absolute;
  opacity: .5;
}

.bg-white {
  background: none;
  background-color: white;
}

.white {
  color: white;
}

.pos-fixed {
  position: fixed;
}

#logo p a, #logo p a:hover, #logo p a:link {
  color: inherit;
  text-decoration: none;
}

#loading-overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #868686;
    opacity: 0.6;
    filter: alpha(opacity=30);
}

#loading-element {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    font-size: 100px;
}

.directs-dashboard .followers-list {
    padding: 10px 10px 20px 10px;
}

.directs-dashboard .followers-list .follower-name {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}

#compose-container div.error {
    margin-bottom: 15px;
}

#promos-container .promo-tabs .tab-pane table {
    margin-top: 10px;
}

#promos-container .promo-tabs .tab-pane table th {
    border-top: none;
    background-color: #fff;
}

#promos-container .promo-tabs .tab-pane table .promo a.promo-action {
    text-decoration: none;
}

#promos-container .promo-tabs .tab-pane table .promo a.promo-action:link {
    opacity: .4;
}

#promos-container .promo-tabs .tab-pane table .promo a.promo-action:hover {
    opacity: 1;
}

#promo-log-container div.well.log-lines {
    max-height: 300px;
    overflow-y: scroll;
}

#promo-log-container div.well.log-lines .row {
    margin-left: 5px;
    margin-right: 5px;
}

#promo-log-container div.well.log-lines p {
    margin-bottom: 0px;
}

div.privs div {
    height: 20px;
}

div.privs div label {
    cursor: pointer;
    margin-bottom: 0px;
}

div.privs div input.checkbox {
    margin-top: 2px;
    height: 15px;
}

#new-account .twitter-typeahead {
    margin-bottom: 15px;
}

#new-account img.async-loading {
    position: absolute;
    right: 26px;
    top: 10px;
}

#login-overlay div.modal-body fieldset img.loading {
  margin-top: 10px;
}

#login-overlay div.modal-body fieldset div.alert-danger,
#login-overlay div.modal-body fieldset div.alert-info {
  margin-top: 10px;
}

div.inbox-header h1 {
  text-shadow: 1px 2px 3px #999;
  font-size: 60px;
}

div.inbox {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

div.inbox div.thread {
  border-radius: 2px;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 10px;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}

div.inbox div.thread .sender {
  margin-bottom: 20px;
}

div.inbox .thread .datetime {
  color: #888;
  font-size: 10px;
  background-color: #7772;
  margin-top: -30px;
}

div.inbox a.btn-refresh {
  position: relative;
  float: right;
  margin-top: -25px;
}

div.inbox a.btn-directs {
  position: relative;
  float: right;
  margin-top: -25px;
  left: -25px;
}

div.inbox hr {
  margin-top: 0px;
}

div.inbox div.btn-more {
  margin-bottom: 20px;
}

div.inbox ul.nav li.active {
  font-weight: bold;
}

div.inbox ul.list-group li.list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: none;
}

/* load progress */

.load-bar {
  position: relative;
  margin-top: -10px;
  margin-bottom: 5px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 3px;
  background-color: #fdba2c;
}
.bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}
.bar:nth-child(1) {
  background-color: #da4733;
  animation: loading 3s linear infinite;
}
.bar:nth-child(2) {
  background-color: #3b78e7;
  animation: loading 3s linear 1s infinite;
}
.bar:nth-child(3) {
  background-color: #fdba2c;
  animation: loading 3s linear 2s infinite;
}
@keyframes loading {
    from {left: 50%; width: 0;z-index:100;}
    33.3333% {left: 0; width: 100%;z-index: 10;}
    to {left: 0; width: 100%;}
}
