#app .form-login {
  min-width: 260px;
  max-width: 260px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 480px) {
  #app .form-login {
    min-width: 300px;
  }
}

#app .form-login div.submit button {
  min-width: 200px;
}

#app #navbar li.tools div.dropdown-menu {
  left: -77px;
}

#app .home nav.direct-toolbar ul li a.btn {
  padding-top: 0px;
  padding-bottom: 2px;
}

#app .direct-list {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#app .direct-list .direct {
  cursor: pointer;
}

#app .direct-list .direct .card-body .btn-group {
  position: absolute;
  left: 10px;
  bottom: 13px;
  display: none;
}
